html,
body {
  overflow: hidden;
  background: #000;
}

#ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  padding: 12px;
  font-family: "VT323", monospace;
}

#ui .dialog {
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background: #ffffff;
  border: 2px solid #98c8f8;
  border-radius: 16px;
}

#ui .dialog .inner {
  color: #000;
  border: 2px inset #98c8f8;
  font-size: 5vh;
  border-radius: 14px;
  padding: 12px;
}

#ui .dialog .inner span.blink {
  color: rgb(180, 54, 54);
  animation: blinker 0.8s steps(1, end) infinite;
}

.gain {
  color: green;
}

#ui #menu {
  background: #fff;
  border: 2px solid #98c8f8;
  position: absolute;
  right: 28px;
  top: 28px;
  padding: 16px;
}

#ui #menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0 16px;
  font-size: 32px;
  line-height: 48px;
}

#ui #menu ul li.selected {
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
