html,
body {
  overflow: hidden;
  background: #000;
  margin: 0;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  padding: 12px;
  font-family: "Pokemon", monospace;
}

#ui .dialogContainer {
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  z-index: 99999;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#ui .dialog {
  background: #ffffff;
  border: 2px solid #98c8f8;
  box-shadow:
    0 2px 0 2px #698096,
    inset 0 2px 0 2px #698096,
    0 0 0 2px #698096,
    inset 0 0 0 2px #698096;
  border-radius: 24px;
  padding: 0 16px;
  width: 100%;
}

#ui .dialog .inner {
  color: #000;
  font-size: 4vh;
  line-height: 6vh;
  border-radius: 14px;
  padding: 16px;
}

#ui .dialog .inner span.blink {
  color: rgb(180, 54, 54);
  animation: blinker 0.8s steps(1, end) infinite;
}

#ui .dialog.choice {
  margin-bottom: 16px;
  width: fit-content;
}

#ui .dialog .inner .image {
  position: absolute;
  background: #ffffff;
  border: 2px solid #98c8f8;
  box-shadow:
    0 2px 0 2px #698096,
    inset 0 2px 0 2px #698096,
    0 0 0 2px #698096,
    inset 0 0 0 2px #698096;
  border-radius: 24px;
  padding: 0 16px;

  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);

  img {
    width: 50vh;
    height: 50vh;
  }
}

.gain {
  color: green;
}

#ui .menu {
  box-shadow:
    0 2px 0 2px #698096,
    inset 0 2px 0 2px #698096,
    0 0 0 2px #698096,
    inset 0 0 0 2px #698096;
  background: #fff;
  border: 2px solid #98c8f8;
  position: absolute;
  right: 28px;
  top: 28px;
  padding: 16px;
  font-size: 32px;
}

#ui .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0 16px;
  line-height: 48px;
}

#ui .menu ul li.hovered,
#ui .menu .submenu ul li.hovered,
div.hovered label {
  color: red;
}

#ui .menu.full {
  left: 28px;
  top: 28px;
  display: flex;
}

#ui .menu .submenu {
  width: fit-content;
  position: relative;
}

#ui .menu .submenu::after {
  content: " ";
  position: absolute;
  top: -12px;
  right: 0;
  height: calc(100% + 26px);
  width: 4px;
  background-color: #98c8f8;
  box-shadow:
    0 0.2px 0 0.2px #698096,
    inset 0 0.2px 0 0.2px #698096,
    0 0 0 0.2px #698096,
    inset 0 0 0 0.2px #698096;
}

#ui .menu .content {
  padding: 0 16px;
  width: 100%;
}

#ui .menu.settings .content > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ui .menu .content > div > input[type="checkbox"] {
  appearance: none;
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
}

#ui .menu .content > div > input[type="checkbox"]::before {
  content: "";
  width: 14px;
  height: 14px;
  transform: scale(0);
  box-shadow: inset 14px 14px rgb(72, 184, 72);
}

#ui .menu .content > div > input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#ui .battle_menu {
  width: calc(100% - 32px);
  height: 35.5%;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 16px);
  z-index: 99999;
  background: #ffffff;
  border: 2px solid #98c8f8;
  box-shadow:
    0 2px 0 2px #698096,
    inset 0 2px 0 2px #698096,
    0 0 0 2px #698096,
    inset 0 0 0 2px #698096;
  border-radius: 16px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loading img {
  margin-bottom: 128px;
}

.meter {
  box-sizing: content-box;
  height: 20px; /* Can be anything */
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  width: 50%;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  box-shadow:
    inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

#ui .team {
  display: flex;
  justify-content: space-around;
}

#ui .team .entry {
  display: flex;
  align-items: center;
}

#ui .team .entry .title {
  display: flex;
  align-items: center;
  font-size: 24px;
} 

#ui .team .entry .title .gender-female, #ui .team .entry .title .gender-male {
  margin-left: 8px;
}

#ui .team .entry .title .gender-female {
  margin-bottom: 4px;
}

#ui .team .entry .hp {
  margin-top: 8px;
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
}

#ui .team .entry progress {
  height: 12px;
  appearance: none;
  border-radius: 4px;
  border: 2px solid #000;
}

#ui .team .entry .hp-bar {
  display: flex;
  flex-direction: column;
}

.gender-male {
  color: #92b5ea;
}

.gender-female {
  color: #f9789f;
}